<div *ngFor="let i of errors_array">
    <span class="error" *ngIf="date_error">{{field_name}} should be valid .</span>
    <span class="error" *ngIf="i == 'required'">{{field_name}} is required.</span>
    <span class="error" *ngIf="i == 'email'">Email must be valid.</span>
    <span class="error" *ngIf="i == 'max'">{{field_name}} is exceeding the limit.</span>
    <span class="error" *ngIf="i == 'maxlength'">{{field_name}} is exceeding the limit {{errors['maxlength']['requiredLength']}}.</span>
  
    <span class="error" *ngIf="i == 'pattern'">
        <span class="error" *ngIf="alphabets_only_error">{{field_name}} should contain alphabets only.</span>
        <span class="error" *ngIf="email_error">{{field_name}} should be valid.</span>
        <span class="error" *ngIf="contact_number_error">{{field_name}} should be valid.</span>
        <span class="error" *ngIf="postive_number_error">{{field_name}} should be valid.</span>
        <span class="error" *ngIf="branch_contact_number_error">{{field_name}} should be valid.</span>
        <span class="error" *ngIf="decimal_numbers_error">{{field_name}} should be valid.</span>
        <span class="error" *ngIf="name_error">{{field_name}} should not contain numbers.</span>
        <span class="error" *ngIf="password_error">{{field_name}} should be at least 8 characters long and should contain one number,one character and one special character.</span>

    </span>

</div>