<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon bg-warning text-white">
            <i class="icofont-dashboard-web  ">
            </i>
          </div>
          <div> User Managment
            <div class="page-title-subheading">Add User
            </div>
          </div>
        </div>
        <div class="page-title-actions">

          <div class="d-inline-block dropdown">
            <a (click)="navigateToProductListing()" class="border-0 btn-transition btn btn-outline-focus">
              <i class="icofont-arrow-left"></i> back to list
            </a>
            <!-- <a href="product-all.php" class="btn-shadow  btn btn-info">
              <i class="icofont-save"></i> Save Product
            </a>
            <button type="button" class="btn-shadow  btn btn-primary">

              <i class="icofont-save"></i> Save and Continue Edit
            </button>
            <button type="button" class="btn-shadow  btn btn-success">

              <i class="icofont-ui-copy"></i> Copy Product
            </button> -->
            <!-- <button style="margin-left: 5px;" type="button" class="btn-shadow  btn btn-danger">
              <i class="icofont-trash"></i> Delete
            </button> -->
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
          <li class="nav-item">
            <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
              <span>User Information</span>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
              <span>Product Pictures</span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-2">
              <span>Product Pricing</span>
            </a>
          </li> -->
        </ul>
        <div class="card mb-3">

          <div class="tab-content">
            <div class="tab-pane show active" id="tab-content-0" role="tabpanel">
              <div class="card">
                <mat-progress-bar *ngIf="!loaded" mode="indeterminate"></mat-progress-bar>
                <app-form [clear_form]="clear_form" [submit_clicked]="submit_clicked" (formValues)="getStaffData($event)"
                  [form]=form>
                </app-form>
                
                <!-- <div class="card-body">


                  <div class="row">
                    <div class="col-lg-12">
                      <div class="position-relative form-group">
                        <label class="">Category name</label>
                        <input type="text" placeholder="..." class="form-control" value="Beef Burger">
                      </div>
                    </div>
                    <div class="col-lg-4">

                      <div class="position-relative form-group">
                        <label for="exampleCustomSelect" class="">Parent Category</label>
                        <select type="select" class="custom-select">
                          <option value="">Select</option>
                          <option>Burger</option>
                          <option>Value 2</option>
                          <option>Value 3</option>
                          <option>Value 4</option>
                          <option>Value 5</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="position-relative form-group">
                        <label for="exampleCustomSelect" class="">Category Type</label>
                        <select type="select" class="custom-select">
                          <option value="">Select</option>
                          <option>Food</option>
                          <option>Value 2</option>
                          <option>Value 3</option>
                          <option>Value 4</option>
                          <option>Value 5</option>
                        </select>
                      </div>
                    </div>


                  </div>


                  <div class="row">
                    <div class="col-lg-12">
                      <div class="position-relative form-group">
                        <label class="bold">Spice Level</label>
                        <div>
                          <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" checked id="check1" class="custom-control-input">
                            <label class="custom-control-label" for="check1">Normal</label>
                          </div>
                          <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" checked id="check2" class="custom-control-input">
                            <label class="custom-control-label" for="check2">Spicy</label>
                          </div>
                          <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" checkedid="check3" class="custom-control-input">
                            <label class="custom-control-label" for="check3">Extra Spicy</label>
                          </div>
                          <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" id="check4" class="custom-control-input">
                            <label class="custom-control-label" for="check4">Medium</label>
                          </div>
                        </div>
                      </div>
                      <div class="position-relative form-group">
                        <label class="bold">Allergens</label>
                        <div>
                          <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" checked id="check11" class="custom-control-input">
                            <label class="custom-control-label" for="check11">Soy</label>
                          </div>
                          <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" id="check21" class="custom-control-input">
                            <label class="custom-control-label" for="check21">Egg</label>
                          </div>
                          <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" id="check31" class="custom-control-input">
                            <label class="custom-control-label" for="check31">Peanut</label>
                          </div>
                          <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" id="check41" class="custom-control-input">
                            <label class="custom-control-label" for="check41">Chicken</label>
                          </div>
                          <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" id="check41" class="custom-control-input">
                            <label class="custom-control-label" for="check41">Chicken</label>
                          </div>
                          <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" id="check41" class="custom-control-input">
                            <label class="custom-control-label" for="check41">Chicken</label>
                          </div>
                          <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" id="check41" class="custom-control-input">
                            <label class="custom-control-label" for="check41">Chicken</label>
                          </div>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-lg-12">
                          <div class="position-relative form-group">
                            <label class="">Kcal Count</label>
                            <input type="text" placeholder="..." class="form-control">
                          </div>
                        </div>

                      </div>


                      <div class="position-relative form-group">

                        <div>
                          <label class="bold">Hot Item</label> <br>
                          <div class="custom-switch custom-control custom-control-inline">
                            <input type="checkbox" checked id="check4111" class="custom-control-input">
                            <label class="custom-control-label" for="check4111"> Yes</label>
                          </div>

                        </div>
                      </div>

                      <div class="position-relative form-group">

                        <div>

                          <label class="bold">Publish</label><br>
                          <div class="custom-switch custom-control custom-control-inline">
                            <input type="checkbox" id="check41111" class="custom-control-input">
                            <label class="custom-control-label" for="check41111"> No</label>
                          </div>
                          <span class="small text-muted"> Check to publish this product (visible in store). Uncheck to
                            unpublish (product not available in store).</span>
                        </div>
                      </div>
                    </div>

                  </div>



                  <div class="row">
                    <div class="col-lg-12">
                      <div class="position-relative form-group">
                        <label class="">Description</label>
                        <textarea rows="3" placeholder="..." class="form-control"> A tikki delight: Potato and peas patty topped with veg sauce, ketchup, tomatoes and onions

                                                            </textarea>
                      </div>
                    </div>
                  </div>

                  <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
                    Product information successfully added
                  </div>





                </div> -->
                <!-- <div class="d-block text-right card-footer">
                  <a href="javascript:void(0);" class="btn-wide btn btn-success">Save</a>
                </div> -->
              </div>

            </div>
            <div class="tab-pane show" id="tab-content-1" role="tabpanel">
              <div class="card">
                <!-- <div class="card-header">Product Information</div> -->
                <div class="card-body">


                  <div class="position-relative form-group">
                    <label for="exampleFile" class="">Upload Photo</label>
                    <input name="file" id="exampleFile" type="file" class="form-control-file">

                    <small class="form-text text-muted">Up to 5 images, max 5 MB each.</small>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      ​<picture>
                        <img src="assets/images/product-photo1.png" class="img-fluid img-thumbnail">
                        <div class="buttons mt-2">
                          <button class="mb-2 mr-2 btn-transition btn btn-outline-light btn-sm">Edit</button>
                          <button class="mb-2 mr-2 btn-transition btn btn-outline-light btn-sm">Delete</button>
                        </div>
                      </picture>

                    </div>
                    <div class="col-lg-3">
                      ​<picture>
                        <img src="assets/images/product-photo1.png" class="img-fluid img-thumbnail">
                        <div class="buttons mt-2">
                          <button class="mb-2 mr-2 btn-transition btn btn-outline-light btn-sm">Edit</button>
                          <button class="mb-2 mr-2 btn-transition btn btn-outline-light btn-sm">Delete</button>
                        </div>
                      </picture>

                    </div>
                  </div>


                </div>
                <div class="d-block text-right card-footer">
                  <a href="javascript:void(0);" class="btn-wide btn btn-success">Save</a>
                </div>
              </div>
            </div>
            <div class="tab-pane show" id="tab-content-2" role="tabpanel">
              <div class="card">
                <!-- <div class="card-header">Product Information</div> -->
                <div class="card-body">

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="position-relative form-group">
                        <label class="">Price</label>
                        <div class="input-group">
                          <input placeholder="..." type="number" class="form-control">
                          <div class="input-group-append">
                            <span class="input-group-text">£</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="position-relative form-group">
                        <label class="">Old Price</label>
                        <div class="input-group">
                          <input placeholder="..." type="number" class="form-control">
                          <div class="input-group-append">
                            <span class="input-group-text">£</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="position-relative form-group">
                        <label class="">Product Cost</label>
                        <div class="input-group">
                          <input placeholder="..." type="number" class="form-control">
                          <div class="input-group-append">
                            <span class="input-group-text">£</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="position-relative form-group">
                        <label class="">Discount </label>
                        <div class="input-group">
                          <input placeholder="..." type="number" class="form-control">
                          <div class="input-group-append">
                            <span class="input-group-text">%</span>
                            <span class="input-group-text">£</span>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="position-relative form-group">
                        <label class="">Tax Amount</label>
                        <div class="input-group">
                          <input placeholder="..." type="number" class="form-control">
                          <div class="input-group-append">
                            <span class="input-group-text">£</span>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>


                </div>
                <div class="d-block text-right card-footer">
                  <a href="javascript:void(0);" class="btn-wide btn btn-success">Save</a>
                </div>

              </div>

            </div>
          </div>
        </div>


      </div>





    </div>




  </div>








</div>