<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon bg-warning text-white">
            <i class="icofont-dashboard-web  ">
            </i>
          </div>
          <div> Tags Managment
            <div class="page-title-subheading">Tags listing
            </div>
          </div>
        </div>
        <div class="page-title-actions">

          <div class="d-inline-block dropdown">
            <!-- <a  style="margin-left: 4px;color: white;" class="btn-shadow  btn btn-info" (click)="navigateToTagListAdd()"> -->
              <!-- <label for="exampleFile" class="">Upload file</label> -->
              <input  type="file"  accept=".csv" class="upload"  #attachments (change)="changeListener($event.target.files)"  class="form-control-file">
              <div class="buttons mt-2">
                <button style="margin-left: 4px;color: white;" class="btn-shadow  btn btn-info" (click)="submitFile()">Submit</button>
              </div>
              <!-- <i class="icofont-ui-add"></i> Add New
            </a> -->
            <!-- <div class="btn-group ">
              <button style="margin-left: 4px;" type="button" class="btn  btn-secondary"><i class="icofont-upload-alt"></i> Export</button>
              <button type="button" class="btn m btn-secondary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Download PDF</a>
                <a class="dropdown-item" href="#">Export to Excel</a>

              </div>
            </div>
            <button style="margin-left: 4px;" type="button" class="btn  btn-secondary"> <i class="icofont-download-alt"></i> Import </button> -->

            <!-- <button (click)="deleteMultipleStaff()" style="margin-left: 4px;" type="button"
              class="btn-shadow  btn btn-danger">
              <i class="icofont-trash"></i> Delete Selected
            </button> -->
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-12">

        <h4 class="d-flex flex-wrap justify-content-between align-items-center mb-3">
          <div>Tags</div>
          <!-- <div class="col-12 col-md-3 p-0 mb-3">
            <input type="text" class="form-control" placeholder="Search...">
          </div> -->
        </h4>
        <div class="main-card mb-3 card">
          <!-- <div class="card-header">Products
                                        <div class="btn-actions-pane-right">
                                            <div role="group" class="btn-group-sm btn-group">
                                                <button class="active btn btn-focus">Received </button>
                                                <button class="btn btn-focus">Pending</button>
                                            </div>
                                        </div>
                                    </div> -->
          <mat-progress-bar *ngIf="!loaded" mode="indeterminate"></mat-progress-bar>
          <div class="card-body">

            <div class="table-responsive">
              <mat-form-field style="width: 100%;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Tag Id...">
                <!-- (keyup)="applyFilter($event.target.value)" -->
              </mat-form-field>

              <div class="mat-elevation-z8">
                <div class="example-container">
                  <table mat-table [dataSource]="dataSource" style="width: 100%;">
                    <div>
                      <!-- <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                          </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                            (change)="checkboxClicked($event,row)" [checked]="selection.isSelected(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container> -->

                      <!-- <ng-container matColumnDef="job_title">
                        <th mat-header-cell *matHeaderCellDef>Job Title </th>
                        <td mat-cell *matCellDef="let element"> <img style="width: 30px; height: 30px;"
                            [src]="element.user_image!=null ? element.user_image : '../../../assets/images/no_image.png'" />
                        </td>
                      </ng-container> -->

                      <ng-container matColumnDef="TagID" sticky>
                        <th mat-header-cell *matHeaderCellDef> TagID  </th>
                        <td mat-cell *matCellDef="let element">
                          <span> {{element.TagID }} </span>
                         
                        </td>
                      </ng-container>

                      <!-- <ng-container matColumnDef="description" sticky>
                        <th mat-header-cell *matHeaderCellDef> description </th>
                        <td mat-cell *matCellDef="let element">
                          <span> {{element.description }} </span>
                         
                        </td>
                      </ng-container> -->

                     <!-- <ng-container style="margin-right: 10px;" matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let element">
                          <span class="badge" [ngClass]="{
                            'badge-info':element.status === 'online',
                            'badge-warning':element.status === 'offline'
                           
                          }"> {{element.status | removeUnderScore | titlecase}}</span>

                        </td>
                      </ng-container> -->

                      <!-- <ng-container style="margin-right: 10px;" matColumnDef="approved">
                        <th mat-header-cell *matHeaderCellDef> status </th>
                        <td mat-cell *matCellDef="let element">
                          <span class="badge" [ngClass]="{
                            'badge-info':element.approved === '1',
                            'badge-warning':element.approved === '0'
                           
                          }"> {{element.approved | removeUnderScore | titlecase}}</span>

                        </td>
                      </ng-container> -->
<!-- 
                      <ng-container style="margin-right: 10px;" matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>  </th>
                        <td mat-cell *matCellDef="let element">
                          <span class="badge" [ngClass]="{
                            'badge-info':element.status === 'true',
                            'badge-warning':element.status === 'false'
                           
                          }"> {{element.status | removeUnderScore | titlecase}}</span>

                        </td>
                      </ng-container> -->
                      <!-- <ng-container matColumnDef="JeptagID">
                        <th mat-header-cell *matHeaderCellDef> JeptagID </th>
                        <td mat-cell *matCellDef="let element"> {{element.JeptagID}} </td>
                      </ng-container> -->
                      <ng-container matColumnDef="TagType">
                        <th mat-header-cell *matHeaderCellDef> TagType </th>
                        <td mat-cell *matCellDef="let element"> {{element.TagType}} </td>
                      </ng-container>
                      <ng-container matColumnDef="SellerID">
                        <th mat-header-cell *matHeaderCellDef> SellerID </th>
                        <td mat-cell *matCellDef="let element"> {{element.SellerID}} </td>
                      </ng-container>
                      <ng-container matColumnDef="ProductID">
                        <th mat-header-cell *matHeaderCellDef> ProductID </th>
                        <td mat-cell *matCellDef="let element"> {{element.ProductID}} </td>
                      </ng-container>

                      <!-- <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> Position </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                      </ng-container>

                      <ng-container matColumnDef="Salary">
                        <th mat-header-cell *matHeaderCellDef> Salary </th>
                        <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
                      </ng-container>
                      <ng-container matColumnDef="weekly_hours">
                        <th mat-header-cell *matHeaderCellDef> Weekly hours </th>
                        <td mat-cell *matCellDef="let element"> {{element.weekly_hours}} </td>
                      </ng-container>

                      <ng-container matColumnDef="location">
                        <th mat-header-cell *matHeaderCellDef> Location </th>
                        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                      </ng-container> -->

                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                          <div class="buttons">
                            <a  style="color: #8f8f8f;" (click)="getJobId(element._id,'edit')"
                              class="mb-2 mr-2 btn-transition btn btn-outline-light btn-sm">Edit</a>
                            <button (click)="getJobId(element._id,'delete')"
                              class="mb-2 mr-2 btn-transition btn btn-outline-light btn-sm">Delete</button>
                              <!-- <button *ngIf=!add (click)="getJobId(element._id,'products')"
                              class="mb-2 mr-2 btn-transition btn btn-outline-light btn-sm">View Products</button> -->
                          </div>
                        </td>
                      </ng-container>


                    </div>
                    <tr mat-header-row *matHeaderRowDef="table_headers"></tr>
                    <tr mat-row *matRowDef="let row; columns: table_headers;"></tr>
                  </table>
                </div>
                <mat-paginator #paginator  [length]="length" [pageSize]="10" showFirstLastButtons [pageSizeOptions]="[10,50,100,500]" (page)="pageEvent=getNext($event)">
                </mat-paginator>

              </div>
            </div>
          </div>


        </div>
      </div>

    </div>


  </div>








</div>