<form [formGroup]="Form" #f="ngForm" (ngSubmit)="f.valid && submit()" novalidate>
  <div class="card-body">
    <div class="row">
      <div class="{{form.FormbootstrapGridClass}}">
        <div *ngFor='let rows of row ;let i = index' class="row">
          <div *ngFor='let index of rows ;let i = index' class="{{fields[index].bootstrapGridClass}}">

            <div class="form-group" *ngIf="fields[index].type == 'checkbox'">
              <input *ngIf="fields[index].name" value="{{fields[index].value}}" [checked]="fields[index].value"
                formControlName="{{fields[index].name}}" type="checkbox">
              <input *ngIf="!fields[index].name" type="checkbox">
              <label style="margin-left: 10px;">{{fields[index].label}} <span *ngIf="fields[index].required"
                  class="required">*</span></label>
            </div>

            <div class="form-group" *ngIf="fields[index].type == 'radio'">
              <input *ngIf="fields[index].name" type="radio" formControlName="gender" value="{{fields[index].value}}">
              <input *ngIf="!fields[index].name" type="radio" value="{{fields[index].value}}" checked="checked">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
            </div>

            <div class="form-group" *ngIf="fields[index].type == 'select'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <select class="form-control" formControlName="{{fields[index].name}}" placeholder="Select item">
                <option *ngFor="let option of fields[index].options" [value]="option.id">{{option.name}}</option>
              </select>
              <div *ngIf="displayValidationsErrors && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div>

            <div class="form-group" *ngIf="fields[index].type == 'select_name'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <select *ngIf="fields[index].name" class="form-control" data-live-search="true" data-style="btn-select"
                data-size="5" formControlName="{{fields[index].name}}">
                <option selected disabled value="">Select {{fields[index].label}}</option>
                <option *ngFor="let option of fields[index].options" value="{{option.id}}">{{option.first_name}}
                  {{option.last_name}}</option>
              </select>
              <div *ngIf="displayValidationsErrors && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div>

            <!-- <div class="form-group" *ngIf="fields[index].type == 'data'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <select *ngIf="fields[index].name" class="form-control" data-style="btn-select" data-live-search="true"
                data-size="5" data-live-search="fields[index].searchable" formControlName="{{fields[index].name}}">
                <option selected disabled value="">Select {{fields[index].label}}</option>
                <option *ngFor="let option of fields[index].options" value="{{option.id}}">{{option.name}}</option>
              </select>
              <div *ngIf="displayValidationsErrors && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div> -->

            <!-- <div class="form-group" *ngIf="fields[index].type == 'multiple'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <select *ngIf="fields[index].name" multiple class="form-control" data-style="btn-select" data-size="3"
                formControlName="{{fields[index].name}}">
                <option selected disabled value="">Select {{fields[index].label}}</option>
                <option *ngFor="let option of fields[index].options" value="{{option.value}}">{{option.label}}</option>
              </select>
              <div *ngIf="displayValidationsErrors && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div> -->

            <div class="form-group" *ngIf="fields[index].type == 'ngselect'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <ng-select formControlName="{{fields[index].name}}" placeholder="Select item">
                <ng-option *ngFor="let option of fields[index].options" [value]="option.id">{{option.name}}</ng-option>
              </ng-select>
              <div *ngIf="displayValidationsErrors && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div>

            



            <div class="form-group" *ngIf="fields[index].type == 'ngselect2'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <ng-select  formControlName="{{fields[index].name}}" placeholder="Select item">
                <ng-option *ngFor="let option of fields[index].options" [value]="option.name">{{option.name}}</ng-option>
              </ng-select>
              <div *ngIf="displayValidationsErrors && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div>
           

           


           

            <div class="form-group" *ngIf="fields[index].type == 'selectCAT'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <select  class="form-control" change="Categorymethod($event.target.value)" formControlName="{{fields[index].name}}" placeholder="Select item" >
                <option *ngFor="let option of fields[index].options" [value]="option.name">{{option.name}}</option>
              </select>
              <div *ngIf="displayValidationsErrors && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div>

            <!-- <div id="cat" class="form-group" *ngIf="fields[index].type == 'ngselectcat'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
            
              <ng-select  formControlName="{{fields[index].name}}"  placeholder="Select Category" [(ngModel)]="data"  >
                <ng-option *ngFor="let option of fields[index].options" [value]="option.name" >{{option.name}}</ng-option>
              </ng-select>
              <div *ngIf="displayValidationsErrors && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div> -->

            <!-- <div  class="form-group" *ngIf="fields[index].type == 'ngselectcat'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
            
              <select  class="form-control" (change)="Categorymethod($event)"  formControlName="{{fields[index].name}}" placeholder="Select Category" [(ngModel)]="data" name="data"  >
                <option *ngFor="let option of fields[index].options" [value]="option.name" >{{option.name}}</option>
              </select>
              <div *ngIf="displayValidationsErrors && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div>
 -->

            <div  class="form-group" *ngIf="fields[index].type == 'ngselectcat'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
            
              <select  class="form-control" (change)="Categorymethod($event)"  formControlName="{{fields[index].name}}" placeholder="Select Category"  >
                <option *ngFor="let option of fields[index].options" [value]="option.name" >{{option.name}}</option>
              </select>
              <div *ngIf="displayValidationsErrors && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div>

            <div class="form-group" *ngIf="fields[index].type == 'ngselectSub'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <select class="form-control" formControlName="{{fields[index].name}}" placeholder="Select item">
                <option *ngFor="let option of filterSubById()" [value]="option.Name">{{option.Name}}</option>
              </select>
              <div *ngIf="displayValidationsErrors && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div>

            <div class="form-group" *ngIf="fields[index].type == 'ngselectSub2'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <select class="form-control" formControlName="{{fields[index].name}}" placeholder="Select item">
                <option *ngFor="let option of getSub(fields[index].options)" [value]="option.Name">{{option.Name}}</option>
              </select>
              <div *ngIf="displayValidationsErrors && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div>
<!-- 
            <div class="form-group" *ngIf="fields[index].type == 'ngselectSub'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <ng-select  formControlName="{{fields[index].name}}" placeholder="Select item">
                <ng-option *ngFor="let option of filterSubById(data)" [value]="option.Name">{{option.Name}}</ng-option>
              </ng-select>
              <div *ngIf="displayValidationsErrors && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div> -->



            <div class="form-group" *ngIf="fields[index].type == 'ngselectname'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <ng-select formControlName="{{fields[index].name}}" placeholder="Select item">
                <ng-option *ngFor="let option of fields[index].options" [value]="option.id">{{option.first_name}}
                  {{option.last_name}} </ng-option>
              </ng-select>
              <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
              </app-errors>
            </div>





            <!-- 
            <div class="form-group" *ngIf="fields[index].type == 'franchise_multiple'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <select *ngIf="fields[index].name" multiple class="form-control selectpicker" data-style="btn-select"
                data-size="3" data-live-search="true" formControlName="{{fields[index].name}}">
                <option selected disabled value="">Select {{fields[index].label}}</option>
                <option *ngFor="let option of fields[index].options" value="{{option.franchise.id}}">
                  {{option.franchise.franchise_name}}</option>
              </select>
              <div *ngIf="displayValidationsErrors && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div> -->

            <div class="form-group" *ngIf="fields[index].type == 'text'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <input *ngIf="fields[index].name" class="form-control" formControlName="{{fields[index].name}}"
                type="text" nullValue>
              <div
                *ngIf="(Form.controls[fields[index].name].dirty || displayValidationsErrors) && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div>

            <div class="form-group" *ngIf="fields[index].type == 'phone_number'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <input style="width: 22%;float: left;" disabled class="form-control" placeholder="+92" type="text">
              <input style="float: right; width: 78%;" *ngIf="fields[index].name" class="form-control"
                formControlName="{{fields[index].name}}" type="text">
              <br>
              <br>
              <div
                *ngIf="(Form.controls[fields[index].name].dirty || displayValidationsErrors) && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div>

            <div class="form-group" *ngIf="fields[index].type == 'number'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <input *ngIf="fields[index].name" class="form-control" formControlName="{{fields[index].name}}"
                type="number">
              <div
                *ngIf="(Form.controls[fields[index].name].dirty || displayValidationsErrors) && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div>

            <div class="form-group" *ngIf="fields[index].type == 'date'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <input *ngIf="fields[index].name" class="form-control" formControlName="{{fields[index].name}}"
                type="date">
              <div
                *ngIf="(Form.controls[fields[index].name].dirty || displayValidationsErrors) && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div>

            <div class="form-group" *ngIf="fields[index].type == 'time'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <input *ngIf="fields[index].name"  class="form-control" formControlName="{{fields[index].name}}"
                type="time">
              <div
                *ngIf="(Form.controls[fields[index].name].dirty || displayValidationsErrors) && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div>

            <div style="visibility: hidden" class="form-group" *ngIf="fields[index].type == 'space'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <input type="text" class="form-control">
            </div>

            <div class="form-group" *ngIf="fields[index].type == 'attribute'">
              <label>{{fields[index].label}}

                <button type="button" style="color: white;margin-left: 6px;" class="btn btn-sm btn-success"
                  (click)="addAttribute()"><i class="icofont-ui-add"></i></button>
                  <button type="button" style="color: white;margin-left: 6px;" class="btn btn-sm btn-danger"
                  (click)="minusAttribute()"><i style="margin-top: -2px;" class="fa fa-minus"></i></button>

              </label>
              <div formArrayName="product_attributes">
                <div *ngFor="let attribute of Form.controls.product_attributes.controls; let i = index"
                  [formGroupName]="i">
                  <div style="margin-bottom: 5px;" class="row">
                    <div class="col-lg-6">
                      <input placeholder="Name" formControlName="name" class="form-control" />
                    </div>
                    <div class="col-lg-6">
                      <input placeholder="Value" formControlName="value" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group" *ngIf="fields[index].type == 'textarea'">
              <label>{{fields[index].label}}<span *ngIf="fields[index].required" class="required">*</span></label>
              <textarea *ngIf="fields[index].name" class="form-control" formControlName="{{fields[index].name}}"
                rows="4" cols="50" nullValue> </textarea>
              <div
                *ngIf="(Form.controls[fields[index].name].dirty || displayValidationsErrors) && Form.controls[fields[index].name].invalid">
                <app-errors [field_name]="fields[index].label" [errors]='Form.controls[fields[index].name].errors'>
                </app-errors>
              </div>
            </div>

            <!-- <button [disabled]="submit_clicked" *ngIf="fields[index].type == 'submit'" class="btn btn-primary  btn-lg"
              type="submit" (click)="displayValidations()">{{fields[index].label}}</button> -->

            <!-- <button style="margin-left: -50px;" *ngIf="fields[index].type == 'edit'" class="btn btn-primary pull-right" type="submit" (click)="displayValidations()">{{fields[index].label}}</button> -->

          </div>
        </div>
      </div>

      <div class="{{form.ImagebootstrapGridClass}}" *ngIf="form.image">
        <label style="color:transparent">img</label>
        <img id="img" [src]="form.image_url ? form.image_url : '../../../../assets/images/no_image.png'"
          class=" img-bordered  "
          [ngStyle]="{'width': form.img_width ? form.img_width : '200px','height': form.img_height ? form.img_height : '200px'  }" />
        <input (change)="onImageChanged($event)" accept="image/*" id="fileInput" style="display: none;overflow:hidden"
          type="file">
        <button class="btn btn-primary" style="margin-left: 70px; margin-top: 5px;" type="button"
          (click)="chooseImage();">Upload Image</button>
      </div>


    </div>
  </div>
  <div *ngIf="form.submit" class="d-block text-right card-footer">
    <button [disabled]="submit_clicked" class="btn btn-success pull-right " style="margin-bottom: 15px;" type="submit"
      (click)="displayValidations()">{{form.submit}}</button>
  </div>
  <!-- <div *ngIf="form.edit_submit" class="row">
    <button class="btn btn-primary pull-right" type="submit"
      (click)="displayValidations()">{{form.edit_submit}}</button>
  </div> -->
</form>